.MuiDrawer-paperAnchorDockedLeft {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  position: relative;
  top: -18px;
}
.MuiPaper-root{
  position: relative;
  top: -18px;
}
element.style {
  transform: none;
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  position: relative;
  top: -18px;
}

.myclass{
  position: relative;
  top: -18px;
}